<h4>produits</h4>
<input class="form-control" type="text"
       [(ngModel)]="maxPrice">
<table class="table">
   <thead>
   <tr>
     <th>ID</th>
     <th>Titre</th>
     <th>Prix</th>
     <th>Quantité</th>
     <th>Like</th>
   </tr>
   </thead>
    <tbody *ngFor="let p of listProduct; let i=index" >
      <tr *ngIf="p.price<= maxPrice">
      <td>{{p.id}}</td>
      <td>{{p.title}}</td>
      <td>{{p.price}}</td>
      <td>{{p.quantity}}</td>
      <td><button (click)="buy(i)" [disabled]="p.quantity==0" >Buy</button></td>
      </tr>

    </tbody>
  </table>
